.header-container {
    display: flex;
    flex-direction: column;
    background-color: #425ff4;
    text-align: center;
    color: #ffffff;
  }
  
  .header-container > button {
    position: fixed;
    right: 2%;
    background-color: #425ff0;
    text-align: center;
    color: #ffffff;
    top: 8%;
  
  }

  .profile-pic{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    right: 2%;
    top:5%;
  }